{% comment %}
  Renders product buy-buttons.
  Accepts:
  - product: {Object} product object.
  - selectedVariant: {String} id of the selected variant.

  Usage:
  {% render 'buy-buttons', product: product, selectedVariant: selectedVariant %}
{% endcomment %}
<div class="w-full">
  {%- if product != blank -%}
    <div x-data="cart">
      <button
        type="button"
        class="btn btn--primary w-full relative buy-button"
        x-data="{ loading: false }"
        @cart:adding.window="loading = true"
        @cart:added.window="loading = false"
        @cart:error.window="loading = false"
        @click="addToCart(selectedVariant)"
        :disabled="!selectedVariant || loading ||"
      >
        <span 
          x-text="selectedVariant ? '{{ 'products.product.add_to_cart' | t }}' : '{{ 'products.product.select_option' | t }}'"
          :class="{ 'opacity-0': loading }"
        >
          {{ 'products.product.select_option' | t }}
        </span>
        <div 
          class="absolute inset-0 flex items-center justify-center"
          x-show="loading"
        >
          {%- render 'loading-spinner' -%}
        </div>
      </button>
      <p x-data="{message: ''}" x-show="message != ''" x-text='message' @cart:error="message = event.detail.message"></p>
    </div>
  {%- endif -%}
</div>
