{% if cart.item_count > 0 %}
<div class='h-full flex flex-col'>
  <div class="flex-1 overflow-hidden flex flex-col">
    <div class="border-y border-lines divide-y divide-lines divide-opacity-50 overflow-y-auto flex-1">
      {% for item in cart.items %}
        {% render 'cart-item', item: item %}
      {% endfor %}
    </div>
    <div class="py-4 font-serif total-text">
      <div class="flex justify-between items-center">
        <p>Subtotal</p>
        <p class="total">{{ cart.total_price | money_without_trailing_zeros }}</p>
      </div>
      <p class="text-sm opacity-50 mt-2">Shipping calculated at checkout.</p>
    </div>
  </div>
  <div class="cart-footer mt-4">
    <a href="{{ routes.cart_url }}" class="btn btn--primary block">Checkout</a>
  </div>
</div>
{% else %}
  <p>Your cart is empty</p>
{% endif %}
