<div class='h-full flex flex-col'>
  <div 
    x-data="cart" 
    class="flex-1 overflow-hidden flex flex-col"
    x-init="$watch('$store.cartState', value => console.log('Cart state changed:', value))"
  >
    <div 
      id="cart-items" 
      class="border-y border-lines divide-y divide-lines divide-opacity-50 overflow-y-scroll flex-1" 
      data-lenis-prevent
    >
      <template x-for="item in $store.cartState.items" :key="item.key">
        {% render 'cart-item', item: item %}
      </template>
      <p x-show="!$store.cartState.items.length" class="text-center text-sm opacity-50 py-12 uppercase">Your cart is empty</p>
    </div>
    <div class="py-4 font-serif total-text">
      <div class="flex justify-between items-center">
        <p>Subtotal</p>
        <p class="total" x-text="$store.cartState.sub_total"></p>
      </div>
      <p class="text-sm opacity-50 mt-2">Shipping calculated at checkout.</p>
    </div>
  </div>
  <div class="cart-footer mt-4">
    <a href="{{ routes.cart_url }}" class="btn btn--primary block">Checkout</a>
  </div>
</div>
