<div
  x-data="{ filtersOpen: false }"
  class='z-[9999] relative'
  @toggle-filter-drawer.window="filtersOpen = !filtersOpen"
  @keydown.escape.window="filtersOpen = false"
>
  <!-- Backdrop -->
  <div 
    x-show="filtersOpen"
    class="drawer-backdrop"
    @click="filtersOpen = false"
  ></div>

  <!-- Drawer -->
  <div
    x-show="filtersOpen"
    x-transition:enter="transform transition ease-in-out duration-500"
    x-transition:enter-start="-translate-x-full"
    x-transition:enter-end="translate-x-0"
    x-transition:leave="transform transition ease-in-out duration-500"
    x-transition:leave-start="translate-x-0"
    x-transition:leave-end="-translate-x-full"
    class="fixed left-0 top-0 h-full max-w-lg w-full bg-primary text-contrast shadow-lg"
    role="dialog"
    aria-modal="true"
  >
    <div class="p-4 h-full flex flex-col w-full">
      <div class="flex justify-between items-center">
        <h2 class="font-sans">Filters</h2>
        <button @click="filtersOpen = false" class="">&times;</button>
      </div>
      <div class="flex flex-col justify-between w-full flex-1 mt-12 lg:mt-24">
        {% render 'facets', results: collection, pre paginate: paginate %}
      </div>
    </div>
  </div>
</div>