<div class="bg-lines p-4 lg:p-8 pt-8 lg:pt-16 space-y-4">
  <h3 class="h4 text-center">{{ block.settings.title }}</h3>
  {% if block.settings.image %}
    {% render 'responsive-image' with
    image: block.settings.image,
    wrapper_class: "aspect-landscape relative",
    image_class: "object-contain w-full h-full absolute inset-0",
    size: '1000x1000',
    width: 1000,
    height: 1000, %}
  {% endif %}
  <div class="max-w-p">{{ block.settings.text }}</div>
  {% if block.settings.drawer_button_text %}
    <div x-data="{ open: false }">
      <button @click="open = !open" class="btn btn--outline-primary">{{ block.settings.drawer_button_text }}</button>
      <div>
        <div x-cloak x-show="open" class="drawer-backdrop" @click="open = false"></div>

        <div
          x-cloak
          x-show="open"
          x-transition:enter="transform transition ease-in-out duration-500"
          x-transition:enter-start="-translate-x-full"
          x-transition:enter-end="translate-x-0"
          x-transition:leave="transform transition ease-in-out duration-500"
          x-transition:leave-start="translate-x-0"
          x-transition:leave-end="-translate-x-full"
          class="fixed left-0 top-0 h-full w-full max-w-[446px] bg-primary text-contrast shadow-lg z-50"
          role="dialog"
          aria-modal="true"
        >
          <div class="p-4 h-full flex w-full flex-col">
            <div class="flex justify-between items-center">
              <h2 class="link">Retail Customers</h2>
              <button @click="open = false" class="">&times;</button>
            </div>
            <div class="mt-24 flex-1 flex flex-col justify-between w-full">
              {% render 'stockist-drawer' with heading: block.settings.drawer_heading %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>