@use "./components";

.wrapper {
  @apply mx-auto px-4 max-w-[1440px];

  &--small {
    @apply max-w-[1024px];
  }
}

.aspect-landscape {
  aspect-ratio: 3 / 2;
}

.aspect-portrait {
  aspect-ratio: 9 / 12;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

[x-cloak] {
  display: none !important;
}

.wsg-proxy-container {
  @apply py-32 pb-16;
}