@use "./components";

.wrapper {
  @apply mx-auto px-4 max-w-[1440px];

  &--small {
    @apply max-w-[1024px];
  }
}

.aspect-landscape {
  aspect-ratio: 3 / 2;
}

.aspect-portrait {
  aspect-ratio: 9 / 12;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

[x-cloak] {
  display: none !important;
}

.wsg-proxy-container {
  @apply py-32 pb-16;
}

.wsg-signup-link {
  @apply text-base my-8;

  a {
    @apply underline;
  }
}

.shopify-section-wsg-registration-settings {
  h1 {
    @apply text-2xl mb-4;
  }
  hr {
    @apply mt-4;
  } 
}