@use "./components";

.wrapper {
  @apply mx-auto px-4 max-w-[1440px];

  &--small {
    @apply max-w-[1024px];
  }
}

.aspect-landscape {
  aspect-ratio: 3 / 2;
}

.aspect-portrait {
  aspect-ratio: 9 / 12;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

[x-cloak] {
  display: none !important;
}

.wsg-proxy-container {
  @apply py-32 pb-16;
}



.wsg-proxy-container {
  h1 {
    @apply text-3xl mb-4;
  }

  h2 {
    @apply text-xl mb-4;
  }
  hr {
    margin-top: 16px!important;
  } 

  .wsg-signup-link {
    @apply text-base my-8;
  
    a {
      @apply underline;
    }
  }

  .btn {
    padding: 14px;
  text-align: center;

  @apply uppercase font-sans tracking-wide p-2 lg:p-[14px] text-sm border border-lines text-contrast hover:border-contrast transition-all duration-500;

  }
}