<div class="h-screen w-screen relative flex items-end justify-center p-6 lg:p-12">
  {% if section.settings.hero_image %}
    <div class="absolute inset-0">
      {{ section.settings.hero_image | image_url: width: 1920 | image_tag:
        loading: 'lazy',
        class: 'w-full h-full object-cover'
      }}
    </div>
  {% endif %}
  <div class="absolute top-1/3 left-1/2 -translate-x-1/2 text-white">
    {% render "logo" %}
  </div>
  <div class="flex flex-col items-center space-y-4 text-white max-w-md relative z-[1]">
    {% if section.settings.hero_content != blank %}
      <div class="text-center">{{ section.settings.hero_content }}</div>
    {% endif %}
    {% if section.settings.hero_button_url != blank %}
      <a href="{{ section.settings.hero_button_url }}" class="btn btn--outline-light">{{ section.settings.hero_button_text }}</a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Home Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "richtext",
      "id": "hero_content",
      "label": "Hero Content"
    },
    {
      "type": "url",
      "id": "hero_button_url",
      "label": "Hero Button URL"
    },
    {
      "type": "text",
      "id": "hero_button_text",
      "label": "Hero Button Text"
    }
  ],
  "presets": [
    {
      "name": "Home Hero"
    }
  ]
}
{% endschema %}
