@font-face {
  font-family: "Dia";
  src: url("/assets/Dia-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Frasa";
  src: url("/assets/Frasa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
