#js-header {
  @apply bg-primary text-contrast;

  transition: transform 0.3s ease-in-out, background-color 0.7s ease-in-out,
    color 0.7s ease-in-out;

  #logo {
    transform: translateY(33vh) scale(1.8);
  }

  .wrapper-inner {
    @apply border-b border-lines;
  }

  .hamburger {
    @apply flex flex-col gap-1;

    .line {
      @apply w-8 h-px bg-contrast;
    }
  }

  &.header--not-scrolled {
    @apply bg-transparent text-contrast;
  }

  &.header--product-page {
    @apply bg-primary text-contrast;
  }

  &.header--on-hero {
    @apply bg-transparent text-primary;

    .wrapper-inner {
      @apply border-b-0;
    }

    .hamburger {
      .line {
        @apply bg-primary;
      }
    }
  }

  &.not-home {
    &.header--on-hero {
      .wrapper-inner {
        @apply border-white border-b;
      }
    }

    #logo {
      transform: translateY(0) scale(1);
    }
  }

  &.mega-menu-open {
    @apply bg-primary text-contrast duration-500;
  }

  &.header--hidden {
    @apply transform -translate-y-full;
  }
}

#filter-bar {
  @apply top-16;

  transition: top 0.3s ease-in-out;

  &.header--hidden {
    @apply top-0;
  }
}
